.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/B7C5F098/pcs/files-pane.pper
.Rproj.user/B7C5F098/pcs/windowlayoutstate.pper
.Rproj.user/B7C5F098/pcs/workbench-pane.pper
.Rproj.user/B7C5F098/rmd-outputs
.Rproj.user/B7C5F098/sources/prop/35794DDE
.Rproj.user/shared/notebooks/333FA310-Protocol for testing the loggers - Experiment 1.1/1/s/cbifp733bjygp/000010.csv
.Rproj.user/shared/notebooks/333FA310-Protocol for testing the loggers - Experiment 1.1/1/s/cbifp733bjygp/000011.error
.Rproj.user/shared/notebooks/333FA310-Protocol for testing the loggers - Experiment 1.1/1/s/cflpzeno2ud8c/000037.csv
.Rproj.user/shared/notebooks/333FA310-Protocol for testing the loggers - Experiment 1.1/1/s/cflpzeno2ud8c/000038.metadata
.Rproj.user/shared/notebooks/333FA310-Protocol for testing the loggers - Experiment 1.1/1/s/cflpzeno2ud8c/000038.png
.Rproj.user/shared/notebooks/333FA310-Protocol for testing the loggers - Experiment 1.1/1/s/cflpzeno2ud8c/000038.snapshot
.Rproj.user/shared/notebooks/333FA310-Protocol for testing the loggers - Experiment 1.1/1/s/cflpzeno2ud8c/000039.csv
